.inline-block() {
	display: inline-block;
	zoom: 1;
	*display: inline;
}
.inline-block-top() {
	.inline-block;
	vertical-align: top;
}
.inline-block-middle() {
	.inline-block;
	vertical-align: middle;
}