@tessel: #f54a42;
@pinGroup: #ddd;
@pin: #b87333;
//@pin: #c0c0c0;
@gnd: #000;
@3v3: #ffa500;
@clk: #00f;
@gpio: #ff0;
@miso: #f0f;
@mosi: #9400d3;
@scl: #008000;
@sda: #0ff;
@5v: #f00;
@chip: #eee;
@switch: #e87600;
@smartConfig: #0092fa;
@inactive: 50%;
@active: 80%;
@hover: 90%;
@led: #0f0;