<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js"><!--<![endif]-->
	<head>
		<meta charset="utf-8"/>
		<title>Tessel Key</title>
		<link rel="shortcut icon" href="/favicon.ico"/>
		<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/normalize/2.1.3/normalize.min.css"/>
		<link rel="stylesheet" type="text/css" href="/styles/all.css"/>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
	</head>
	<body class="not-ready" data-bind="css: { ready: ready, 'not-ready': !ready() }">
		<nav>
			<!-- ko template: { name: 'nav-tmpl', data: { href: 'matrix', text: 'Matrix' } } --><!-- /ko -->
			<!-- ko template: { name: 'nav-tmpl', data: { href: 'layout', text: 'Layout' } } --><!-- /ko -->
			<!-- ko template: { name: 'nav-tmpl', data: { href: 'profile', text: 'Profile' } } --><!-- /ko -->
			<!-- ko template: { name: 'nav-tmpl', data: { href: 'keys-available', text: 'Keys available' } } --><!-- /ko -->
		</nav>

		<section id="matrix" data-bind="visible: tab() === 'matrix'">

		</section>

		<section id="layout" data-bind="visible: tab() === 'layout'">

		</section>

		<section id="profile" data-bind="visible: tab() === 'profile'">

		</section>

		<section id="keys-available" data-bind="visible: tab() === 'keys-available'">
			<button data-bind="click: addKeyAvailable">Add key</button>
			<table>
				<thead>
					<tr>
						<th class="code">Code</th>
						<th class="display-name">Display name</th>
						<th class="full-name">Full name</th>
						<th class="remove"></th>
					</tr>
				</thead>
				<tbody data-bind="foreach: keysAvailable">
					<tr>
						<td class="code"><input type="text" placeholder="Code" data-bind="value: numCode, focusOnce: true, valueUpdate: 'keyup'"/></td>
						<td class="display-name"><input type="text" placeholder="Display name" data-bind="value: displayName, valueUpdate: 'keyup'"/></td>
						<td class="full-name"><input type="text" placeholder="Full name" data-bind="value: fullName, valueUpdate: 'keyup'"/></td>
						<td><button data-bind="click: function() { $root.keysAvailable.remove($data); }">Remove</button></td>
					</tr>
				</tbody>
			</table>
			<pre data-bind="text: ko.mapping.toJSON(keysAvailable, null, 2)"></pre>
		</section>

		<a id="fork-me-on-github" href="https://github.com/OlsonDev/TesselKey" title="Awww, yea!" target="_blank">Fork me on GitHub</a>

		<script type="text/html" id="nav-tmpl">
			<a data-bind="text: text, attr: { href: '#' + href }, css: { active: $root.tab() === href }, click: function() { $root.tab(href); return true; }"></a>
		</script>

		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.0.0/knockout-min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/knockout.mapping/2.4.1/knockout.mapping.js"></script>
		<script type="text/javascript" src="/scripts/knockout.extensions.js"></script>
		<script type="text/javascript" src="/scripts/util.js"></script>
		<script type="text/javascript" src="/scripts/app.js"></script>
	</body>
</html>